.response-choice:hover {
  cursor: pointer;
}

.prompt-choice, .response-choice {
  background-color: #ebebeb;
  width: 100px;
  height: 40px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
